@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body {
  margin: 0;
 
  font-family: 'Satisfy';
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-image: linear-gradient(to right, #f70202 0%, #066646 19%, #00aeda 42%, #7b44e0 79%, #35caf0 100%);
}

code {
 
   
    font-family: 'Satisfy';
    
}
.rock {
  
  background-image: linear-gradient(to top, #dd5a36 0%, #f07212 100%);
}
.ghost {
 
  background-image: linear-gradient(to top, #1273af 0%, #e8eff3 100%);
}
.electric {
  
  background-image: linear-gradient(to right, #eeeb58 0%, #eec90e 100%);
}
.bug {
  
  background-image: linear-gradient(to top, #307509 0%, #06a053 100%);
}
.poison {
  
  background-image: linear-gradient(to top, #f36db2 0%, #84b1f0 100%);
}
.normal {
 
  background-image: linear-gradient(-225deg, #07ffde 0%, #eea4df 100%);
}
.fairy {
 
  background-image: linear-gradient(to top, #ac5384 0%, #ee9ed5 99%, #9c046c 100%);
}
.fire {
  
  background-image: linear-gradient(120deg, #ce5200 0%, #e61e1e 100%);
}
.grass {
  
  background-image: linear-gradient(120deg, #92c51b 0%, #7ef18e 100%);
}
.water {
  
  background-image: linear-gradient(120deg, #46e3ee 0%, #207bfa 100%);
}
.ground{
  
background-image: linear-gradient(315deg, #531d0d 0%, #5f4830 74%);

}


.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 3rem 1rem;
}
.app-container h1{
  width: 0ch;
  color: rgb(131, 24, 158);
  overflow: hidden;
  white-space: nowrap;
  animation: text 4s steps(15) infinite alternate;
  

}
@keyframes text{
  0%{
    width: 0ch;
    
  }
  50%{
    width:15ch;
    color:rgb(31, 14, 9);
  }
}
.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.all-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}



.thumb-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0.2rem;
  margin: 0.3rem;
  border: 1px solid #c2bbbb;
  border-radius: 2rem;
  min-width: 160px;
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
}
.thumb-container :hover{
  margin: 0.7rem 0;
  
}

h3 {
  margin-bottom: 0.2rem;
}
.thumb-container .number {
  border-radius: 1rem;
  padding: 0.2rem 0.4rem;
  background-color: rgba(214, 185, 185, 0.822);
}
.thumb-container img {
  width: 120px;
  height: 120px;
}

.thumb-container small {
  text-transform: capitalize;
}
.detail-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.detail-wrapper button {
  color: rgb(22, 22, 22);
  padding: .5rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.185);
}
.load-more {
  
  background-color: #76daff;
background-image: linear-gradient(315deg, #d437d4 0%, #fc08b3 74%);
  border-radius: 6px;
  border: 1px solid #c6c6c6;
  color: #444;
  padding: 0.5rem 1.5rem;
  min-width: 20%;
  margin-top: 1rem;
  
  font-family: 'Satisfy';
  
}
button:hover{
  background-color: #ff0000;
  background-image: linear-gradient(315deg, #a3a3a3 0%, #2deb2d 74%);
}
.pokeinfo{
  margin: 0 25px;
  
  font-family: 'Satisfy';
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
}
.pokeinfo:hover{
  background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
}
h3{
  text-decoration: underline;
}